.features{
  padding: 120px 0;
  background-color: var(--white);
}

.features .header-medium{
  display: none;
}

.features-list{
  display: flex;
  gap: 24px;
}

.features .header-small{
  text-align: left;
  margin-bottom: 8px;
}
