body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;

}

.container{
    width: 1128px;
    margin: 0 auto;
    padding: 120px 0;
}

h1,h2,h3,h4,h5,h6, p{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a{
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.04em;
    text-decoration: none;
    color: #2E2F42;
}

img{
    display: block;
    max-width: 100%;
}
.card-header{
    margin-bottom: 8px;
    margin-top: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
/* Header */
.page-header{
    background-color: #fff;
    border-bottom: 1px solid #E7E9FC;  
}

.page-header .container{
    display: flex;
    padding: 24px 0;
    justify-content: space-between;
}

.page-nav{
    display: flex;
    justify-content: space-between;
    gap: 76px;
}

.contact-nav ul{
    display: flex;
    gap: 40px;
    font-style: normal;
}

.page-nav ul{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.logo{
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.nav-links{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-links:hover,
.nav-links:focus{
    color: #404BBF;
}

.logo-part{
    color: #2e2f42;
}

.contact-nav-links {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-nav-links:hover,
.contact-nav-links:focus {
    color: #404BBF;
}

/* Main page */

/* Hero */
.hero{
    background-color: #2E2F42;
}

.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 496px;
    padding: 188px 0;
}

.page-title{
    text-align: center;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em
}

.section-header {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.button {
    border: none;
    background-color: #4D5AE5;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    padding: 16px 32px;
    margin-top: 48px;
    border-radius: 4px;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/* Section 2 */

.benefits{
    background-color: #fff;
}

.benefits .section-header{
    display: none;
}

.benefits-list{
    display: flex;
    gap: 24px;
}

.benefits-list li{
    flex-basis: 264px;
}

.benefits .card-header{
    margin-bottom: 8px;
    margin-top: 0;
}
.text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Section 3 */
.team{
    background-color: #F4F4FD;
}

.team-list li{
    text-align: center;
    background-color: #fff;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-card{
    padding-bottom: 32px;
    border-radius: 0px 0px 4px 4px;
}

/* Section 4 */
.portfolio{
    background-color: #fff;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 48px;
}

.portfolio-card{
    width: calc((100% - 48px) / 3);
    border: 1px solid #E7E9FC;
    padding-bottom: 32px;
}

.portfolio .card-header,
.portfolio .card-text{
    margin-left: 16px;
}

/* Footer */
.page-footer{
    background-color: #2E2F42;
}

.page-footer .container{
    padding: 100px 0;
}

.footer-logo-part{
   color: #f4f4fd;
}

.page-footer .text{
    color: #F4F4FD;
    width: 264px;
    margin-top: 16px;
}